* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.header{
    color: red;
}

.main{

}

.footer{
    
}

.container{
    border: 1px solid blue;    
    width: 1230px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
}