* {
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    padding: 0;
    
}

.main{
    flex-grow: 1;
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

.page-wrapper{
    display: flex;
    flex-direction: column;
}

.btn{
    display: flex;
    padding: 8px 16px;    
    align-items: center;
    gap: 4px;
    outline: none;
}

.btn-primary{
    background: #1890FF;
    border-radius: 2px;
    border: 1px solid #1890FF;    
    color:#FFFFFF;
    width: 98px;
    height: 40px;
}

.btn-outline{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px black;
    color: rgba(89, 89, 89, 1);
    width: 116px;
    height: 40px;
}

.header{
    min-height: 124px;
    display: flex;
    align-items: center;
}

.logo{
    max-width: 100px;
}

.logo img{
    width: 100%;
}

.header-box{   
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-controls{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.main{

}

.footer{
    min-height: 156px;
    display: flex;
    align-items: center;
}

.footer-box{    
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav{
    flex-grow: 1;
}

.container{
    height: 100%;       
    width: 1230px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
}

