body {    
    font-family: Roboto, sans-serif;
    max-width: 960px;
    min-width: 320px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;    
    background-color: white;
    margin: 0 auto;
}

.button_conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    gap: 16px;
}

.logo{
    width: 120px;
    height: 12px;
}

.entrance{
    width: 78px;
    height: 40px;
    background-color: white;
    border-radius: 1px;
    border: 1px solid rgba(224, 224, 224, 1);
    font-size: 13px;
    font-weight: 550;    
}

.entrance:hover{
    background-color: rgba(224, 224, 224, 1);
    border-radius: 10px;
}

.entrance:active{
    background-color: rgb(92, 199, 108);
}

.basket{
    width: 40px;
    height: 72px;
    border: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket:hover{
    background-color: rgba(224, 224, 224, 1);    
}

.input1{
    width: 100%;
    height: 48px;    
    font-size: 16px;
    color: rgba(117, 117, 117, 1);
    border: none;
    border-bottom: 1px solid rgba(117, 117, 117, 1);    
    background-color: transparent;
    padding-top: 20px;
    padding-left: 0;
}

.input1::placeholder{
    font-size: 16px;
    color: rgba(117, 117, 117, 1);
}

.input1:focus {
    outline: none; /* Основное свойство для всех браузеров */
    border-bottom: 1px solid; /* Можно оставить изменение цвета нижней линии */
    box-shadow: none; /* На всякий случай убираем тень */
}

.title{
    margin: 56px 0 16px 0;
    font-weight: 400;
    font-size: 22px;
}

.card-title{
    font-weight: 400;
    font-size: 16px;
    margin: 16px 0 0 0;
}