@import url("flexboxgrid2.css");

.row{
    display: flex;
    flex-wrap: wrap;   
}

.block{
    margin: 8px 0;
    padding: 32px;    
}

.block1{    
    background-color: rgba(204, 74, 20, 1);
}

.block2{    
    background-color: rgba(153, 88, 61, 1);
}